<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srin.kioskapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!--TODO add permission for kiosk mode-->
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_KIOSK_MODE"/>
    <!--TODO add permission for knox custom-->
    <uses-permission android:name="com.samsung.android.knox.permission.KNOX_CUSTOM_SYSTEM " />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.srin.kioskapp.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.ScreenSaverActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Material.Light.NoActionBar.Fullscreen"/>

        <receiver android:name=".controller.Controller$PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <!--TODO declare intent for Device admin receiver-->
        <receiver
            android:name=".controller.KnoxActivation$KnoxAdmin"
            android:description="@string/enterprise_device_admin_description"
            android:label="@string/enterprise_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!--TODO declare intent for Knox license receiver-->
        <receiver
            android:name=".controller.KnoxActivation$LicenseReceiver">
            <intent-filter>
                <action android:name="com.samsung.android.knox.intent.action.LICENSE_STATUS"/>
                <action android:name="com.samsung.android.knox.intent.action.KNOX_LICENSE_STATUS"/>
            </intent-filter>
        </receiver>

        <!--TODO declare intent for Kiosk receiver-->
        <receiver android:name=".controller.Controller$KioskModeReceiver">
            <intent-filter>
                <action
                    android:name="com.samsung.android.knox.intent.action.ENABLE_KIOSK_MODE_RESULT"
                    />
                <action
                    android:name="com.samsung.android.knox.intent.action.DISABLE_KIOSK_MODE_RESULT"
                    />
            </intent-filter>
        </receiver>

        <!--TODO declare intent for User inactivity receiver-->
        <receiver android:name=".receiver.UserActivityReceiver">
            <intent-filter>
                <action
                    android:name="com.samsung.android.knox.intent.action.NO_USER_ACTIVITY"/>
                <action android:name="com.sec.action.NO_USER_ACTIVITY"/>
            </intent-filter>
        </receiver>


        <!--TODO declare intent for Device with older knox version-->
        <receiver android:name="com.samsung.android.knox.IntentConverterReceiver" >
            <intent-filter>
                <action android:name="edm.intent.application.action.prevent.start" />
                <action android:name="edm.intent.application.action.prevent.stop" />
                <action android:name="edm.intent.action.ldap.createacct.result" />
                <action android:name="edm.intent.action.device.inside" />
                <action android:name="edm.intent.action.device.outside" />
                <action android:name="edm.intent.action.device.location.unavailable" />
                <action android:name="com.samsung.edm.intent.action.CERTIFICATE_REMOVED" />
                <action android:name="edm.intent.certificate.action.certificate.failure" />
                <action android:name="com.samsung.edm.intent.action.APPLICATION_FOCUS_CHANGE" />
                <action android:name="edm.intent.action.EMAIL_ACCOUNT_ADD_RESULT" />
                <action android:name="edm.intent.action.EMAIL_ACCOUNT_DELETE_RESULT" />
                <action android:name="com.sec.enterprise.intent.action.BLOCKED_DOMAIN" />
                <action android:name="com.sec.enterprise.intent.action.UPDATE_FOTA_VERSION_RESULT" />
                <action android:name="com.samsung.edm.intent.action.EXCHANGE_CBA_INSTALL_STATUS" />
                <action android:name="android.intent.action.sec.CBA_INSTALL_STATUS" />
                <action android:name="edm.intent.action.EXCHANGE_ACCOUNT_ADD_RESULT" />
                <action android:name="edm.intent.action.EXCHANGE_ACCOUNT_DELETE_RESULT" />
                <action android:name="com.samsung.edm.intent.action.ENFORCE_SMIME_ALIAS_RESULT" />
                <action android:name="edm.intent.action.knox_license.status" />
                <action android:name="edm.intent.action.license.status" />
                <action android:name="com.samsung.edm.intent.event.NTP_SERVER_UNREACHABLE" />
                <action android:name="edm.intent.action.enable.kiosk.mode.result" />
                <action android:name="edm.intent.action.disable.kiosk.mode.result" />
                <action android:name="edm.intent.action.unexpected.kiosk.behavior" />
                <action android:name="com.samsung.edm.intent.action.SIM_CARD_CHANGED" />
                <action android:name="android.intent.action.sec.SIM_CARD_CHANGED" />
                <action android:name="com.samsung.action.knox.certenroll.CEP_CERT_ENROLL_STATUS" />
                <action android:name="com.samsung.action.knox.certenroll.CEP_SERVICE_DISCONNECTED" />
                <action android:name="com.sec.enterprise.knox.intent.action.KNOX_ATTESTATION_RESULT" />
                <action android:name="com.sec.action.NO_USER_ACTIVITY" />
                <action android:name="com.sec.action.USER_ACTIVITY" />
                <action android:name="com.samsung.android.mdm.VPN_BIND_RESULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>